{% extends 'base.html.twig' %}
{% block body %}
    <div class="container" style="padding-top: 77px">
        <h2>{{ titulo }}</h2>
        {{ include('includes/alerts.hmtl.twig') }}
        <div class="table-responsive">
            <table class="table table-bordered border-warning table-striped ">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Leite por semana(L)</th>
                        <th scope="col">Ração por semana(Kg)</th>
                        <th scope="col">Peso(Kg)</th>
                        <th scope="col">Data de Nascimento</th>
                        <th scope="col">Situação</th>
                        <th scope="col">Abater</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for animal in animais %}
                        <tr>
                            <th scope="row">{{ animal.codigo }}</th>
                            <td class="text-center">{{ animal.leite }}</td>
                            <td class="text-center">{{ animal.racao }}</td>
                            <td class="text-center">{{ animal.peso }}</td>
                            <td class="text-center">{{ animal.nascimento|date("d/m/Y") }}</td>
                            <td class="text-center">{% if animal.situacao == 1%}Vivo{% else %}Abatido{% endif %}</td>
                            <td class="text-center"> <a id="botao" class="btn btn-warning" href="{{ path('animal_abater',{id: animal.id}) }}">Abater</a> </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        {{ knp_pagination_render(animais) }}
    </div>
{% endblock %}
