{% block body %}
    <h4 class="mt-3">Lista de Gados</h4>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="row">#</th>
                    <th scope="col">Leite por semana(L)</th>
                    <th scope="col">Ração por semana(Kg)</th>
                    <th scope="col">Peso(Kg)</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">Situação</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
            {% for animal in animais %}
                <tr>
                    <td>{{ animal.id }}</td>
                    <td>{{ animal.leite }}</td>
                    <td>{{ animal.racao }}</td>
                    <td>{{ animal.peso }}</td>
                    <td>{{ animal.nascimento|date("d/m/Y") }}</td>
                    <td>{{ animal.situacao }}</td>
                    <td> <button class="btn btn-primary" href="#">Editar</button> </td>
                </tr>
            {% endfor %}

            </tbody>
            <tfoot>

            </tfoot>
        </table>

    </div>
{% endblock %}