<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Página Inicial{% endblock %}</title>
        <link rel="icon" href=""> <!-- adicionar o icone do trator aqui -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>

        <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_orange.css">
        <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
        <script src="https://npmcdn.com/flatpickr/dist/l10n/pt.js"></script>

        <style>
            @media(max-width: 1100px) {
                .text-responsive{
                    white-space: normal;
                }
            }

            .cor-font-nav > a{
                color: white;
            }

            .destaque-button{
                border: solid rgba(255, 255, 255, 0.53) 1px;
                box-shadow: rgba(255, 255, 255, 0.53) 2px 2px 3px;
                padding: 5px;
                border-radius: 12px;
            }
            .destaque-button:hover{
                box-shadow: rgba(61, 61, 61, 0.40) 1px 2px 5px;
                color: white;
                text-shadow: rgba(255, 255, 255, 0);
            }
        </style>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar col-12 position-fixed navbar-expand-lg bg-light " style="background-image: linear-gradient(to right, #EDD30C, #F06900); z-index: 999;">
                <div class="container-fluid col-11 m-auto" style="background-image: linear-gradient(to right, #EDD30C, #F06900);">
                    <a class="navbar-brand cor-font-nav destaque-button" href="{{ path('home_page') }}" >Início</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarNav">
                        <ul class="navbar-nav" >
                            <li class="nav-item">
                                <a class="nav-link active me-3 destaque-button" onMouseOver="this.style.color='white'"
                                   onMouseOut="this.style.color='black'"  aria-current="page" href="{{ path('animal_adicionar') }}">Animais</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active me-3 destaque-button" onMouseOver="this.style.color='white'"
                                   onMouseOut="this.style.color='black'"  aria-current="page" href="{{ path('animais_abate') }}">Animais para abate</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active destaque-button" onMouseOver="this.style.color='white'"
                                   onMouseOut="this.style.color='black'" aria-current="page" href="{{ path('animais_abatidos') }}">Historico de Animais abatidos</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}

        <script>
            const elemento = document.getElementById('animal_nascimento')
            elemento.flatpickr({
                allowInput: true,
                enableTime: false,
                altInput: true,
                dateFormat: "Y-m-d",
                altFormat: "d/m/Y",
                locale: "pt",
                theme: "dark",
                maxDate: new Date()
            })

            const fields = document.querySelectorAll("[required]")

            function isNumeric(value) {
                return /^\d+(?:\.\d+)?$/.test(value);
            }

            for(const field of fields){
                field.addEventListener("change", function (event){

                    if(isNumeric(field.value) && field.value.length > 0){
                        field.style = 'box-shadow: 0 0 0 0.2rem rgb(63, 237, 63, 0.404);'+ 'border-color: rgb(63, 237, 63, 0.695)'
                        field.setAttribute('required','valid')
                    }else {
                        if(field.placeholder != "dd/mm/aaaa"){
                            field.style = 'box-shadow: 0 0 0 0.2rem rgb(255, 0, 0, 0.404);' + 'border-color: red'
                            field.setAttribute('valid', 'required')
                        }
                    }

                })
            }

            document.querySelector("form").addEventListener("submit", event => {
                for (ele of fields) {
                    if ((!isNumeric(ele.value) || ele.value.length == 0) && ele.placeholder != "dd/mm/aaaa" ) {
                        console.log(ele.value)
                        console.log(ele.value.length)
                        console.log(ele.placeholder != "dd/mm/aaaa" )
                        console.log(isNumeric(ele.value))
                        ele.focus()
                        event.preventDefault()
                        break;
                    }
                }
            })

        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>

</html>